@media (orientation: portrait) {

    #loremTool .toolInput .color-card {
        width: auto;
        height: auto;
    }

    #loremTool .toolInput label {
        width: 50%;
        height: auto;
        text-align: right;
        padding: 5px;
    }
    #loremTool .toolInput {    
	width: auto;
    }
    .loremCard {
        width: 15%;
    }

}



@media (orientation: landscape) {
    #loremTool .toolInput label {
        width: auto;
        height: auto;
        text-align: right;
        padding: 5px;
    }

    #loremTool .toolInput input[type="number"] {
        text-align: left;
        padding: 5px;
    }
    #loremTool .toolInput {
        width: auto;
        flex-direction: row;
    }
    .loremCard {
        width: 30%;
    }
}

#loremTool .toolOutput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#loremTool h2 {
    width: 100% !important;
    height: auto;
}


/* REVOIR CECI A MON RETOUR */
.loremCard {
    height: 140px;
    font-size: 9pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #777777;
}



.loremText {
    width: 100%;
    height: auto;
    text-align: center;
}

.loremBlock {
    width: 50px;
    height: 50px;

}
