
.aboutToolContainer {
    height:calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    color: #000000;
    background: rgb(255, 179, 179);
    background: linear-gradient(120deg, rgba(255, 179, 179, 1) 0%, rgba(255, 255, 179, 1) 20%, rgba(179, 255, 179, 1) 40%, rgba(179, 255, 255, 1) 60%, rgba(179, 179, 255, 1) 80%, rgba(255, 179, 255, 1) 100%);
}

.aboutToolContainer h2 {
    margin-top: 0;
}

.aboutToolContainer p {
    font-size: 14px;
    line-height: 1.5;
}   

.aboutToolContainer a {
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    padding: 2px 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: gray;
    color: white;
}

