@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css");

@import url(https://fonts.googleapis.com/css2?family:Outfit:wght@100..900&display:swap);



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  display: flex;
}


/*
  border: 1px solid black;
  box-sizing: border-box;
*/

NAV,
DIV,
SECTION {
  padding: 0px;
}


@media (orientation: portrait) {
  body {
    flex-direction: column;
  }

  nav {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
/*
    height: calc(100vh - 50px);
*/

  #main {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
    align-items: flex-start;
    justify-self: flex-start;
  }
  #palette {
    width: 100%;
  }

  #tool {
    width: 100%;
    display: flex;
    flex-direction: column;
  }



}

@media (orientation:landscape) {
  body {
    flex-direction: row;
    height: 100vh;
  }

  nav {
    width: 5vw;
    height: 100%;
  }

  #main {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 100%;
  }

  #palette {
    width: 70%;
    height: 100%;
  }

  #tool {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

#palette , #toolInput , #toolOutput
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
  
#palette , #toolOutput
  {
      overflow-y: auto;
  }

/* For simulation only **/


#toolbar div {
  width: 50px;
  height: 50px;
  }


