
/* Generic for tools */
.toolBarButton {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: lightslategray;
  }

.toolBarButton:hover {
    background-color: gray;
  } 

 .toolContainer {
    height:calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
}
  