
/* Generic for tools */

#toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;
  background-color: #444;
  color: white;
}

.toolBarButton {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background-color: black;
  display: block;
  text-align: center;
  font-size: 1.5em;
  line-height: 50px;
  }

.toolBarButton:hover {
    background-color: gray;
  } 

 .toolContainer {
    height:calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
}
  