/* Generic for tools */

/* =================== ToolBar =================== */

@media (orientation: portrait) {
  #toolbar {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (orientation:landscape) {
  #toolbar {
    width: auto;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}




#toolbar {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;
  background-color: #444;
  color: white;
}

.toolBarButton {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  line-height: 50px;
}

.toolBarButton:hover {
  background: linear-gradient(45deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
}

.toolBarButton img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;

  object-fit: contain;
}

/* =================== ToolContainer =================== */

.toolContainer {
  padding: 0px;
  margin: 0px;
  display: flex;
}

/** adjust tool container flex direction acording to device orientation */
@media (orientation: portrait) {
  .toolContainer {
    flex-direction: row;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #444;
  }
}

@media (orientation: landscape) {
  .toolContainer {
    flex-direction: column;
    width: auto;
    height: 100%;
    border-left: 2px solid #444;
  }
}

/* =================== Dialog Tool  =================== */

/** dialog tool with drop shadow  */

.dialogTool {
  background-color: grey;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  z-index: 1000;
  border: #eee solid 2px;
  border-radius: 25px;
  box-shadow: 16px 14px 21px 3px rgba(0, 0, 0, 0.75) !important;
}

/** dialog tool h2 title */
.dialogTool h2 {
  font-size: 1em;
  color: white;
}

/** dialog tool label */
.dialogTool label {
  font-size: 0.8em;
  color: black;
}

/** dialog tool color input */
.dialogTool input[type="color"] {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/** dialog tool check input */
.dialogTool input[type="checkbox"] {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/** dialog buttons  */
.dialogTool input[type="button"] {
  width: 5em;
  height: 2em;
  display: inline;
  border: none;
  font-size: 0.5em;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: #444;
  color: white;
}

/** dialog tool file input */
.dialogTool input[type="file"] {
  cursor: pointer;
  width: 100%;
  font-size: 0.5em;
  height: auto;
  display: inline;
  color: white;
}

.dialogTool input[type="file"]::file-selector-button {
  cursor: pointer;
  color: white;
  background-color: #444;
  border-radius: 10px;
  height: 2em;
  width: 6em;
  margin: 0;
  padding: 0;
  display: inline;
}

.dialogTool input[type="file"]::file-selector-button:hover {
  background: linear-gradient(45deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
}



.dialogTool input[type="button"]:hover {
  background: linear-gradient(45deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);

}

.dialogTool input[type="number"] {
  width: 4em;
  height: 2em;
  font-size: 0.5em
}

/* ============================================================================ */
/* SECTION: Tools area */
/* ============================================================================ */

#tools section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

#tools h2 {
  font-size: 1em;
}


#tools .colorBloc {
  width: 100%;
  height: 100%;
}


#tools .color-card {
  width: 140px !important;
  height: 140px !important;
  margin: 0;
  padding: 0;
}

#tools .toolInput {
  padding: 5px;
  margin: 0px;
}

#tools .toolOutput {
  padding: 5px;
  margin: 0px;
}

@media (orientation: portrait) {

  #tools .toolInput {
    width: 300px;
    border-right: 2px solid #444;
  }

  #tools .toolOutput {
    width: calc(100% - 300px);
  }

  .toolSeparator {
    width: 20px;
    height: 50px;
    background-color: #44444400;
  }
}

@media (orientation: landscape) {

  #tools .toolInput {
    border-bottom: 2px solid #444;
  }

  .toolSeparator {
    width: 50px;
    height: 20px;
    background-color: #44444400;
  }
}

/** Tool input control */

.toolInput select {
        box-sizing: content-box;
        height: auto;
        text-align: left;
        padding: 5px;
        background-color: white;
        border: 1px solid #ccc;
        margin-left: 5px;
        margin-top: 5px;
    }

.toolInput input[type="number"] {
        box-sizing: content-box;
        height: auto;
        text-align: left;
        border: 1px solid #ccc;
        padding: 5px;
        margin-left: 5px;
        margin-top: 5px;
    }