/* Generic for tools */

@media (orientation: portrait) {
  #toolbar {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (orientation:landscape) {
  #toolbar {
    width: auto;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}




#toolbar {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;
  background-color: #444;
  color: white;
}

.toolBarButton {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  line-height: 50px;
}

.toolBarButton:hover {
  background-color: gray;
}

.toolBarButton img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;

  object-fit: contain;
}

.toolContainer {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** adjust tool container flex direction acording to device orientation */
@media (orientation: portrait) {
  .toolContainer {
    flex-direction: row;
  }
}

@media (orientation: landscape) {
  .toolContainer {
    flex-direction: column;
  }
}




.toolInput {
  border: 1px solid red;
}

.toolOutput {
  border: 1px solid blue;
}


/** dialog tool with drop shadow  */

.dialogTool {
  background-color: grey;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  z-index: 1000;
  border: #eee solid 2px;
  border-radius: 25px;
  box-shadow: 16px 14px 21px 3px rgba(0, 0, 0, 0.75) !important;
}

/** dialog tool h2 title */
.dialogTool h2 {
  font-size: 1em;
  color: white;
}

/** dialog tool label */
.dialogTool label {
  font-size: 0.8em;
  color: black;
}

/** dialog tool color input */
.dialogTool input[type="color"] {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/** dialog tool check input */
.dialogTool input[type="checkbox"] {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/** dialog buttons  */
.dialogTool input[type="button"] {
  width: 5em;
  height: 2em;
  display: inline;
  border: none;
  font-size: 0.5em;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: #444;
  color: white;
}

/** dialog tool file input */
.dialogTool input[type="file"] {
  cursor: pointer;
  width: 100%;
  font-size: 0.5em;
  height: auto;
  display: inline;
  color: white;
}

.dialogTool input[type="file"]::file-selector-button {
  cursor: pointer;
  color: white;
  background-color: #444;
  border-radius: 10px;
  height: 2em;
  width: 6em;
  margin: 0;
  padding: 0;
  display: inline;
}

.dialogTool input[type="file"]::file-selector-button:hover {
  background-color: #666;
}


.dialogTool input[type="button"]:hover {
  background-color: #666;
}

.dialogTool input[type="number"] {
  width: 4em;
  height: 2em;
  font-size: 0.5em
}