@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css");

@import url(https://fonts.googleapis.com/css2?family:Outfit:wght@100..900&display:swap);




.color-div {
  width: 150px;
  height: 150px;
  margin: 0px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Outfit, sans-serif;
  font-weight: 1em;
}

.color-div div {
  text-align: center;
}

.colorName {
  font-size: 1em;
  border-radius: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  width: 80%;
}

.colorName:hover {
  background-color: white !important;
  color: black !important;
  cursor: text;
}

.colorHex {
  border-radius: 5px;
  padding: 2px 5px;
  width: 50%;
}

.colorHex:hover {
  background-color: rgb(127, 127, 127) !important;
  cursor: pointer;
}


.full-close-button {
  padding: 50px 20px;
  margin-top: 10dvw;
  cursor: pointer;
  font-size: 0.5em;
  width: 90%;
  height: 10px;
  border-radius: 1em;
}

.full-screen-color
{
        position : fixed;
        top : 0;
        left : 0;
        width : 100%;
        height : 100%;
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:  5em;
        z-index: 1000;    

}
