@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* Dark theme */
  --darkBG: #000;
  --darkPannel: #000;
  --darkColor: #999;
  --darkTitle: #fff;
  /* Light Theme */
  --lightBG: #fff;
  --lightColor: #666;
  --lightGB: #fff;
  /* Added missing variable */
  --lightPannel: #fff;
  --lightTitle: #000;

  --colorSize: 140px;
  /* 150 */
  --colorTextSize: 8pt;

}



html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--lightGB);
  color: var(--lightColor);
  font-family: "Outfit", sans-serif;

  font-optical-sizing: auto;
}

body {
  display: flex;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }

  #toolbar {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
  }

  #colPalette {
    width: calc(70% - 60px);
    height: 100%;
  }

  #colorPanel {
    width: 30%;
    /* GB: TEMP */
    order: 1;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }

  #toolbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    gap: 10px;
  }

  #colorPanel {
    height: 35%;
    /* GB: TEMP */
  }

  #colPalette {
    height: calc(70% - 60px);
    width: 100%
  }
}

#toolbar {
  background: rgb(51, 51, 51);
}


#toolbar div {
  color: #bbb;
  font-size: 17pt;
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
}


#toolbar div:hover {
  color: #fff;
}

#toolbar div:active {
  background: rgb(102, 102, 153);
}

.btTabOn {
  color: #0ff !important;
}

#colPalette {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  overflow: auto;
}

.paletteColor {
  margin: 0px;
  padding: 0px;
}

.paletteColor input {
  width: var(--colorSize);
  height: var(--colorSize);
  border: solid 1px #777;
}

.textColorBox {
  width: var(--colorSize);
  height: var(--colorSize);
  background-color: #777;
  text-align: center;
  top: 50%;
  position: inherit;
  font-size: var(--colorTextSize);
  border: solid 1px #777;
}

.textColorBox span {
  font-size: 64pt;
}



.paletteColor div {
  text-align: center;
  width: 100%;
  font-size: var(--colorTextSize);
}

#btSave {
  visibility: hidden;
}

#colorPanel {
  font-size: 16pt;
  overflow-y: scroll;
  background-color: var(--lightPannel);
  border: #777 solid 1px;
}


.aTab {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  overflow-y: unset;
}

.MixHSLInput label {
  width: 60px;
  display: inline-block;
  text-align: right;
}

.MixHSLInput input {
  width: 50px;
  padding: 1px;
  text-align: right;
}


#hslMixPaletteContainer,
#Mix2PaletteContainer,
#textPaletteContainer,
#BlnPaletteContainer,
#BoilerPaletteContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}


#hslMixPaletteContainer .paletteColor,
#Mix2PaletteContainer .paletteColor,
#textPaletteContainer {
  gap: 10px;
  border: none;
}

input[type=color] {
  border: none;
  padding: 0px !important;
  margin: 0px !important;
}

.colTitle {
  font-weight: bold;
  white-space: nowrap;
  color: var(--lightTitle);
}

/* Drag and drop target indicator */
.dragOver {
  /*  box-shadow: 10px 10px 5px 7px  #777; */
  opacity: 100;
}

.selectedDragSource {
  opacity: 50% !important;
  box-shadow: 10px 10px 12px #777 !important;
}

#aboutBox,#dlgUpload , #dlgDownload {
  box-shadow: 10px 10px 5px #777;
  background: rgb(255, 179, 179);
  background: linear-gradient(120deg, rgba(255, 179, 179, 1) 0%, rgba(255, 255, 179, 1) 20%, rgba(179, 255, 179, 1) 40%, rgba(179, 255, 255, 1) 60%, rgba(179, 179, 255, 1) 80%, rgba(255, 179, 255, 1) 100%);
}

.dlgBox {
  display: none;
  position: fixed;
  top: 100px;
  padding: 5px;
  right: calc(50% - 175px);
  width: 400px;
  height: 400px;
  border: 3px solid #666;
  border-radius: 25px;
}

.dlgHeader {
  text-align: center;
}

.dlgTitle {
  font-style: italic;
}

.dlgBox label {
  width: 50%;
  display: inline-block;
  text-align: right;
  height: 50px;
  vertical-align: top;
}

.dlgBox input[type="checkbox"] {
  display: inline-block;
}


.dlgButtons {
  margin: auto;
  width: 50%;
}

.dlgButtons button {
  width: 49%;
}

#colExclude {
  width: 50px;
  height: 50px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}


/* For big colordialog */

#bigColorDlg {
  position: absolute;
  margin: auto;
  width: 90vw;
  height: 81vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 20px 0 #000000;
  display: flex;
}

#bigColorDlg>div {
  width: 100%;
  height: 5vh;
}

.bigColorContainer {
  height: 50vh !important;
  width: 100%;
  margin: auto;
  border: 5px solid #333;
  border-radius: 24px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bigColorContainer>div{
  margin: auto;
  width: 45vmin;
  height: 45vmin;
}

#bigColorComponents{
  display: flex;
  width: 45vmin;
  height: 45vmin;
  flex-direction: column;
  justify-content: space-between;
}

.colProp{
  width: 7vmin;
  height: 7vmin;
  font-size: 16pt !important;
  font-weight: normal !important;
  text-align: center;
}



#bigColorBtOK {
  color: rgb(255, 255, 255);
  border: 5px;
  width: 50vw;
  height: 10vh;
  margin: auto;
  font-size: 24pt;
  text-align: center;
  border-radius: 24px;
  background-color: #333;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

#bigColorBtOK div{
    position: relative;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.bigColorValue {
  font-size: 24pt;
  text-align: center;
}

#bigColorDlg>div:nth-child(2) {
  font-weight: bold;
  color: #000;
  font-size: 36pt;
}