
.aboutToolContainer {
    height:calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    color: #000000;
    background: rgb(255, 179, 179);
    background: linear-gradient(120deg, rgba(255, 179, 179, 1) 0%, rgba(255, 255, 179, 1) 20%, rgba(179, 255, 179, 1) 40%, rgba(179, 255, 255, 1) 60%, rgba(179, 179, 255, 1) 80%, rgba(255, 179, 255, 1) 100%);
}

.aboutToolContainer h2 {
    margin-top: 0;
}

.aboutToolContainer p {
    font-size: 14px;
    line-height: 1.5;
}   

.aboutToolContainer a {
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    padding: 2px 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: gray;
    color: white;
}



#aboutTool h3 {
    font-size: 20pt;
}

#aboutTool h2 {
    font-size: 30pt;
}

#aboutTool p {
    font-size: 20pt;
    margin: 10px 0;
    padding: 5px;
}

#aboutTool a {
    font-size: 15pt;
    margin: 5px;
    border: none;
}



/* a 75% desaturated rainbow background */
#aboutTool {
    --saturation: 50%;  
    --ligntness: 35%;
    margin-top: 10px;
    background:  linear-gradient(120deg, hsl(0, var(--saturation), var(--ligntness)) 0%, hsl(60, var(--saturation), var(--ligntness)) 20%, hsl(120, var(--saturation), var(--ligntness)) 40%, hsl(180, var(--saturation), var(--ligntness)) 60%, hsl(240, var(--saturation), var(--ligntness)) 80%, hsl(300, var(--saturation), var(--ligntness)) 100%) ;
}

/*

*/
